<body>
<div class="card" style="margin:1rem;">
    <div class="card-header"> 
        <span class="text-uppercase">Editar lugar</span>
    </div>

    <div class="form-group">
        <label id="labelEsp">Ingresa direccion</label>
        <input type="text" id="inputEsp" class="form-control" (keydown.enter)="$event.preventDefault()"
          placeholder="Buscar localizacion" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>
    <div class="card-body" >
        
        <agm-map (mapReady)="fnInitMap()" [latitude]="lat" [longitude]="lng" [zoom]="zoom"  >
          <agm-marker [latitude]="lat" [longitude]="lng" [label]="'M'"  [markerDraggable]="true"  (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map> 
      <!--  <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map> -->
        <button class="btn btn-primary mt-3" type="button" (click)="fnGetWeather()">Consultar</button>
      </div>
</div>

  <div *ngIf="currentWeather"class="card" style="margin: 1rem;">
    <div class="card-header">
      <h3>Clima en Vivo</h3>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        
        <p>Temperatura: {{currentWeather.main.temp}} °C</p>
        
        <p>Sensación térmica: {{currentWeather.main.feels_like}} °C</p>
    
        <p>Humedad: {{currentWeather.main.humidity}}%</p>
        <br>
        <p>En {{currentWeather.name}},{{currentWeather.sys.country}}</p>
        <footer class="blockquote-footer">Consultado en: <cite title="Source Title">Climalife</cite></footer>
      </blockquote>
    </div>
  </div>

  
 


</body>